footer{
    height:auto;    
    background: #006750;
    padding: 15px;
    padding-bottom: 28px;
    text-align: right;
    float: left;
    width: 100%;  
    margin-top: 50px; 
    color: $light;
}