// // .wrapper{
// //     max-width: 1080px;
// //     margin: 0 auto;
// }

.App{
    height: 100vh;
    background: red;
}

.hide{
    background: green;
}

.fridge-container{
    float: left;
    width: 70%;
}

.poem-dashboard{
    float: left;
    width:30%;
}