@import './vars';
.wrapper{
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}

.App{
    height: 100vh;
    background: $light;
    padding: 2rem;
    overflow: hidden;
}

.fridge-container{
    // margin: 20px;
    // margin-bottom: 0;
    float: left;
    width: 70%;
    // height: 2000px;
    // max-height: 100%;
    
}

.main-form{
    position: relative;
    fieldset{
        // position: absolute;
        left: 50%;
        // transform: translateX(-50%);
        border: none;
    }
    input[type="radio"]:checked{
        +label{
            border: 3px solid $red;
        }
    }
    label{
        // @include position(absolute, 0,0,0,50%);
        float: left;
        width: calc(20% - 3rem);
        margin: 1.5rem;
        padding: 1.5rem .5rem;
        transition: background .3s;
        border-radius: 2rem;
        color: $green;
        img{
            max-width: 40%;
            min-height: 3rem;
            min-width: 3rem;
        }
        h3{
            font-size: .8rem;
            margin-top: 0;
        }
        &:hover{
            background: $mint;

        }
    }
}

.category-options{
    display: block;
    width: 100%;
}

.poem-dashboard{
    float: left;
    margin: 1rem 0 0 2rem; 
    width: calc(30% - 2rem);
    border-radius: 2rem;
    max-height: 80vh;
    text-align: center;
    overflow: scroll;
    button, .show{
        background: $light;
    }
    ul{
        width: 100%;
    }
}