.inline-block{
    display: inline-block;
}

.row{
    width: 100%;
}

.fridge-header, .poem-header {
    height: 15vh;
    width: 100%;
}

.fridge-logo {
    width: 70%;
    float: left;    
    text-align: left;
    margin-top: 0;
    height: 50px;
}

.fridge-logo img, .poem-logo img {
    height: 50px;
    width: auto;
}

.fridge-nav {
    width: 30%;
    float: left;
}

.share-poem, a.home-link, .make-own{
    display: block;
    margin: 5px;
    margin-top: 0;
    width: calc(50% - 10px);
    text-align: center;
    text-decoration: none;
    float: left;
    padding: 15px 0;
    height: 50px;
    color: black;
}

.make-own {
    width: 100%;
    float: none;
}

.swal-text {
    text-align: center;
}

.poem-logo {
    width: 80%;
    float: left;    
    text-align: left;
    margin: 0;
    height: 50px;
}

.poem-nav {
    width: 20%;
    float: left;
}



.fridge-container{
    background: url(./assets/fridge.svg);
    background-size: 180%;
    // height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
    padding: 4rem 10rem;
    overflow: hidden;
}
h1{
    font-family: $headerfont;
    text-align: center;
    // font-size: 1.4rem;
    // font-weight: 700;
}

//word optons section
.poem-dashboard{
    padding: 20px;
    background: white;
    max-width: 100%;
}

//list item styles
.show{
    position: relative;
    background: white;
    cursor: pointer;
    width: auto;
    float: left;
    margin: 10px;
    padding: 5px;
    margin: 5px;
    padding: 10px;
    list-style: none;
    box-shadow: 2px 5px 0px black;
    left: 0;
    top: 0;
    font-family: $basefont;
    transition: box-shadow .4s, top .3s ease-out, left .3s ease-out;
    &:hover{
        box-shadow: 5px 7px 7px #555;
        top: -2px;
        left: -2px;
    }
}

ul{
    list-style: none;
    padding: 0;
    border: 1px solid grey;
    height: 100%;
}

.swal-button{
    background: #FE0046;
}




a{
    text-decoration: none;
    color:$light;
    &:hover{
        color: $red;
    }
}