.fridge-container{
    background: url(./assets/fridge.svg);
    background-size: 180%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
        h1{
            font-family: $headerfont;
            text-align: center;
            font-size: 3rem;
        }
}


.show,
button{
    background: white;
    width: auto;
    float: left;
<<<<<<< HEAD
    margin: 10px;
    padding: 5px;
=======
    margin: 5px;
    padding: 10px;
>>>>>>> b683944a02ab1c166fc9ecaf25125877df87fe9e
    list-style: none;
    box-shadow: 2px 5px;
    font-family: $basefont;
    text-transform: capitalize;
}

<<<<<<< HEAD
.poem-dashboard{
    padding: 20px;
    background:grey;
}
=======
ul{
    list-style: none;
    padding: 0;
}
>>>>>>> b683944a02ab1c166fc9ecaf25125877df87fe9e
