/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    .wrapper{
        width: 95%;
    }
    .main-form{
        fieldset{
            label{
                width: 15%;
            }
        }
    }
    .fridge-container{
        padding: 4rem 6rem;
    }
    .poem-page{
        .fridge-container{
            width: 80%;
        }
    }
}

@media (max-width: 820px) {
    .main-section {
        height: auto;
    }
    footer {
        height: auto;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .wrapper{
        width: 100%;
    }
    .main-form{
        .search-bar{
            padding:  0 25vmin;
            transition: padding .2s;
        }
        fieldset{
            label{
                width: 20%;
            }
        }
    }
    .fridge .fridge-container{
        @include position(absolute,40%,0,0,50%);
        transform: translateX(-50%);
        width: 85%;
        padding: 4rem 6rem;
    }
    .poem-dashboard{
        height: 8rem;
        width: 100%;
        margin: 0;
    }
    .poem-page{
        .fridge-container{
            width: 90%;
        }
    }

    // footer{
    //     margin-top: 80px;
    // }
}
/* Landscape phones and down */
@media (max-width: 480px) {

    .main-form{
        .search-bar{
            padding:  0 5%;
        }
        fieldset{
            label{
                position: relative;
                width: 100%;
                h3, img{
                    // display: inline-block;
                    float: left;
                }
                h3{
                    position: absolute;
                    top: 50%; 
                    bottom: 0;
                    left: 25%;
                    // @include position(absolute, 50%,0,0,50%);
                    transform: translateY(-50%);
                    // margin-left: 3rem;
                    font-size: 1rem;
                }

            }
            img{
                width: 5vmax;
                margin: 0.5rem 0;
            }
        }
    }
    .main-section {
        height: auto;
    }
    .fridge-container{
        @include position(absolute,45%,0,0,50%);
        transform: translateX(-50%);
        padding: 4rem 2rem;
    }
    .poem-dashboard{
        height: 8.5rem;
        // width: 95%;
    }
}